fieldset {
    width: 400px;
    margin: 40px auto;
    border: 2px solid;
}

label{
    display: block;
    margin-bottom: 10px;
}

[type=text], [type=password]{
    width: 99%;
    height: 20px;
    border: 2px solid #000;
    outline: none;
}

table, tr, td {
    width: 400px;
    height: 20px;
    margin: 40px auto;
    border: 2px solid black;
}

button {margin-top: 20px;margin-left: 10px;}

a{
    margin: 40px;
    width: 400px;
    
	outline-color: red;
	outline-width: 5px;	
}

a[href]:focus {
	background-color: yellow;
}

.toolbar-header{
    background-color: lime;
}

a:hover {
	background-color: orange;
}